
  /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@300,400;500;600;700;800&display=swap'); */
  /* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 1200px;

    
}

ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;

    
}
/* -----header-section----- */
.header-section{
    position: fixed;
    width: 100%;
}
.header-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

}
.header-menu .menu{
    display: flex;
}
.header-menu .menu li a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 14px 30px;
    text-transform: uppercase;
    color: #ffff;

}
.header-menu .menu li:last-child a{
    padding-right: 0;
}
/* ----benner-section---- */
.benner-section{
    background-image: url(./imgs/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px;
}
.benner-section .container h2{
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 68px;
    padding: 0 100px;
    text-transform: uppercase;
    color: #ffff;
    margin-bottom: 40px;
    text-align: center;
}
.benner-section .container p{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 0 130px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}
.benner-section .container a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e84545;
    padding: 15px 54px;
    color: #fff;
    text-transform: uppercase;
}
/* -------service-section----- */
.service-section{
    padding: 120px 0;
}
.service-section .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 74px;
}
.service-section .container .service-item{
    max-width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.service-section .container .service-item h3{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 34px;
    margin-bottom: 26px;
    text-align: center;
    text-transform: uppercase;
}
.service-section .container .service-item p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 0 30px;
    text-align: center;
    
}
/* --------gallery-section------ */
.gallery-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;   
}
.gallery-section .gallery-img{
    display: flex;
    max-width: calc(25% - 1px);
    max-height: 320px;
    cursor: pointer;
    position: relative;  
}
.gallery-section .gallery-img img {
   width:100% ;
   height: 100%;
}
.gallery-section .gallery-img .overley{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
   transition: 0.4s all ease-in-out;
}
.gallery-section .gallery-img:hover .overley{
    background-color: #e84545;
    opacity: 0.7;
}
.gallery-text{
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    visibility: hidden;
}
.gallery-section .gallery-img .gallery-text h3{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.gallery-section .gallery-img .gallery-text p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
   
    
}
.gallery-section .gallery-img:hover .gallery-text{
    visibility: visible;
    transition: 0.4s;
}
/* ----------idantity-section---- */
.idantity-section .container{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;

}
.idantity-section .container .img-text{
    width:25%;

}
.idantity-section .container .img-text h3{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 13px;
}
.idantity-section .container .img-text h4{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #e84545;
    margin-bottom: 30px;
}
.idantity-section .container .img-text p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #6c7279;
    margin-bottom: 52px;
    padding-right: 20px;
}

.icon-bottom a{
    border:1px solid #e5ebf1;
    padding: 10px 10px;
    color: #6c7279;
    margin-right: 5px;
    
}


