
  /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@300,400;500;600;700;800&display=swap'); */
  /* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;

    
}

ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;

    
}
/* -----header-section----- */
.header-section{
    position: fixed;
    width: 100%;
}
.header-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

}
.header-section .container .ActiveBox img{
    width: 100%;
}
.header-menu .menu{
    display: flex;
}
.manu-icon{
    display: none;
}
.manu-icon .fa-solid{
    font-size: 28px;
    color: #fff;
}
.header-menu .menu li a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 14px 30px;
    text-transform: uppercase;
    color: #ffff;

}
.header-menu .menu li:last-child a{
    padding-right: 0;
}
/* ----benner-section---- */
.benner-section{
    background-image: url(./imgs/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px;
}
.benner-section .container h2{
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 68px;
    padding: 0 100px;
    text-transform: uppercase;
    color: #ffff;
    margin-bottom: 40px;
    text-align: center;
}
.benner-section .container p{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 0 130px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}
.benner-section .container a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e84545;
    padding: 15px 54px;
    color: #fff;
    text-transform: uppercase;
}
/* -------service-section----- */
.service-section{
    padding: 120px 0;
}
.service-section .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 74px;
    justify-content: space-between;
}
.service-section .container .service-item a img{
    width: 100%;
}
.service-section .container .service-item{
    max-width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.service-section .container .service-item h3{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 34px; 
    margin-bottom: 26px;
    text-align: center;
    text-transform: uppercase;
}
.service-section .container .service-item p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 0 30px;
    text-align: center;
    
}
/* --------gallery-section------ */
.gallery-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px; 
    margin: 0 auto;  
    
}
.gallery-section .gallery-img{
    display: flex;
    max-width: calc(25% - 1px);
    /* max-height: 320px; */
    cursor: pointer;
    position: relative;  
}
.gallery-section .gallery-img img {
   max-width: 100%;
   max-height: 100%;
}
.gallery-section .gallery-img .overley{
    width: 100%;     
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
   transition: 0.4s all ease-in-out;
}
.gallery-section .gallery-img:hover .overley{
    background-color: #e84545;
    opacity: 0.7;
}
.gallery-text{
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    visibility: hidden;
}
.gallery-section .gallery-img .gallery-text h3{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.gallery-section .gallery-img .gallery-text p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
   
    
}
.gallery-section .gallery-img:hover .gallery-text{
    visibility: visible;
    transition: 0.4s;
}
/* ----------.Team-section---- */
.Team-section .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;

}
.Team-section .container .img-text{
    max-width: 25%;

}
.Team-section .container .img-text img{
    width: 100%;

}
.Team-section .container .img-text h3{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 13px;
    padding-left: 5px;
}
.Team-section .container .img-text h4{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #e84545;
    margin-bottom: 30px;
    padding-left: 5px;
}
.Team-section .container .img-text p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #6c7279;
    margin-bottom: 52px;
    padding:0 20px 0 5px;

}
.icon-bottom{
    padding-left:10px ;
    
}
.icon-bottom a{
    border:1px solid #e5ebf1;
    padding: 10px 10px;
    color: #6c7279;
    margin-right: 5px;
    
}
/* ------ad-section---- */
.ad-section{
    display: flex;
    position: relative;
}
.ad-section .image-itam{
  max-width: 50%;
    
}
.ad-section .image-itam img{
   max-width: 100%;
    height: 100%;
}
.ad-section .content-itam{
   max-width: 50%;
   background-color: #53354A;
}
.ad-section .content-itam h3{
    font-size: 36px;
    font-style: italic;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 42px;
    padding-left: 84px;
    padding-right: 200px;
}
.ad-section .content-itam p{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-left: 84px;
    font-size: 13px;
    font-weight: 700;

}

.bottom {
    position: absolute;
    top: 86%;
    left: 60%;
    transform: translate(-86% -60%);
    display: flex;
    column-gap: 8px;
}
.bottom-item{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #897483;


}
.bottom-item:nth-child(2){
    background-color: #fff;
}
/* --------download-section------- */
.download-section .container{
    padding: 100px 0;

}
.download-section .container h2{
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #2d3033;
}
.download-section .container h5{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 22px;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.download-section .container a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 90px;
    background-color: #e84545;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #ffff;
}
/* ------about-section---- */
.about-section {
    background-color: #3a3e64;
    width: 100%;
}
.about-section .container {
    display: flex;
    justify-content: space-between;
    padding: 56px 0 110px 0;
}
.about-section .container .text{
    max-width: calc(33% - 1%);
    text-align: center
}
.about-section .container .text h2{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 22px;
}
.about-section .container .Location-text p{
    padding: 0 90px;
    color: #e5ebf1;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.about-section .container .text a{
    border: 2px solid #fff;
    color: #fff;
}
.about-section .container .text p{
    color: #fff;
}
/* ---------last-page---- */
.last-page{
    background-color: #313454;
}
.last-page .container{
    padding: 29px 0;
}
.last-page .container p{
    text-align: center;
    font-size: 14px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #808080;

}
.last-page .container p .fa-solid{
    font-size: 14px;
    color: red;
}
.last-page .container p samp{
    color: #fff;
}




/* ---------Responsive------- */



@media screen and (max-width: 960px){
 .header-menu .menu {
    display:none;
 }
 .manu-icon{
    display: inline-block;
 }
 /* ---banner--- */
 .benner-section .container h2{
    font-size: 54px;
    line-height: 60px;
    padding: 0 60px;
    margin-bottom: 34px;
}
.benner-section .container p{
    font-size: 18px;
    padding: 0 90px;
    margin-bottom: 70px;
}
/* -----service--- */
.service-section .container .service-item{
    max-width: calc(50% - 3%);
    
    
}
/* ------gallery-section---- */
.gallery-section .gallery-img {
    max-width: calc(50% - 1px);
} 
   .gallery-section .gallery-text h3{
    margin-top: 60px;
    margin-bottom: 32px;
    padding-left: 44px;
    padding-right: 50px;
}
/* ------.Team-section---- */
.Team-section .container .img-text{
    max-width:48%;

}

.ad-section .content-itam h3{
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 32px;
    padding-left: 64px;
    padding-right: 160px;
}

.bottom-item{
    width: 14px;
    height: 14px;
   


}
}
@media screen and (max-width: 754px){
    .header-section .container  img{
        width: 80%;
    }
    .manu-icon .fa-solid{
        font-size: 24px;
    
    }
    /* ------benner-section--- */
    .benner-section .container a{
        font-size: 14px;
        padding: 14px 34px;
    }
    .benner-section{
        padding-top: 190px;
        padding-bottom: 120px;
    }
    .benner-section .container h2{
       font-size: 44px;
       line-height: 48px;
       padding: 0 40px;
       margin-bottom: 32px;
   }
   .benner-section .container p{
       font-size: 16px;
       padding: 0 50px;
       margin-bottom: 55px;
   }
   /* ---about-section--- */
   .about-section .container .location p{
    padding: 0 20px;
   }

   .ad-section .content-itam h3{
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.ad-section .content-itam p{
    font-size: 14px;
    padding-left: 44px;

}
.bottom {
    top: 90%;
}
.bottom-item{
    width: 13px;
    height: 13px;
}
   }
   @media screen and (max-width: 608px){
    .header-section .container .ActiveBox img{
        width: 70%;
    }
    .manu-icon .fa-solid{
        font-size: 20px;
    }
    .header-section .container{
        height: 80px;
    }
    /* ----banner-section----- */
    .benner-section .container h2{
       font-size: 32px;
       line-height: 36px;
       padding: 0 30px;
       margin-bottom: 32px;
   }
   .benner-section .container p{
       font-size: 16px;
       padding: 0 30px;
       margin-bottom: 48px;
   }
   .benner-section .container a{
    padding: 8px 15px;
    font-size: 8px;
   }

   /* -------service-section----- */
   .service-section .container .service-item{
    max-width: 100%;
   }
   .service-section .container .service-item p{
    padding: 0 60px;
   }
/* ----team-section---- */
   .Team-section .container .img-text{
    max-width:calc(50% - 1%);

    }
    .ad-section .item img{
        width: 100%;
    }
    .ad-section .content-itam{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
     }
    .ad-section .content-itam h3{
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ad-section .content-itam p{
        font-size: 12px;
        padding-left: 44px;

    }
    .bottom {
        top: 90%;
    }
    .bottom-item{
        width: 13px;
        height: 13px;
    }
    .about-section .container .text{
        max-width: 100%;
        margin: 50px;
        text-align: center;
    }  
    .about-section .container{
        display: inline-block;
    }
    .about-section .container  h2{
        font-size: 18px;
    }
    .about-section .container p{
        font-size: 16px;
    }
    .last-page .container{
        padding-left: 10px;
        padding-right: 10px;
     }

    .download-section .container h2{
        font-size: 30px;
    }
    .share-section .container .location p{
        padding: 0 10px;

   }



   }
   @media screen and (max-width: 554px){
    .header-section .container{
        height: 70px;
    }
    .benner-section .container h2{
       font-size: 20px;
       line-height: 24px;
       padding: 0 20px;

   }
   .benner-section .container p{
       font-size: 14px;
       padding: 0;
       margin-bottom: 48px;
   }
   .service-section .container .service-item p{
    padding: 0 30px;
   }
    /* ----gallery-section--- */
    .gallery-section .gallery-img {
        max-width: 100%;
        align-items: center;

       } 
       .gallery-section .gallery-img img{
        max-width: 100%;

       } 

       .gallery-section .gallery-text h3{
        margin-top: 60px;
        margin-bottom: 32px;
        padding-left: 44px;
        padding-right: 50px;
       }
   .download-section .container a{
    padding: 12px 24px;
     margin-bottom: 60px;
     font-size: 11px;

 } 
 .last-page .container{
     padding-left: 30px;
     padding-right: 30px;
  }
  .last-page .container p{
     font-size: 13px;
  }
  .last-page .container .fa-solid{
      font-size: 15px;
  }

  .last-page .container .samp{
      font-size: 13px;
  }

  .ad-section .content-itam h3{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    }
    .ad-section .content-itam p{
        padding-left: 0;

    }
    .bottom {
        top: 85%;
    }
    .bottom-item{
        width: 12px;
        height: 12px;

    }

   }
   @media screen and (max-width: 400px){
    .header-section .container{
        height: 60px;
    }
    .benner-section{
        padding-top: 130px;
        padding-bottom: 80px;
    }
    .benner-section .container h2{
       font-size: 20px;
       padding: 0 15 px;
   }
   .benner-section .container p{
       font-size: 14px;

   }
   .service-section .container{
    padding: 0 10px;
   }
   .ad-section{
    display: flex;
    flex-direction: column;
   }
   .ad-section .item{
    max-width: 100%;
   }
   .ad-section .item p{
    margin-bottom: 30px;
   }

.download-section .container a{
    padding: 10px 20px;
     margin-bottom: 50px;

 } 
 .last-page .container{
    padding-left: 0;
    padding-right: 0;
 }
 .last-page .container p{
    font-size: 12px;
    padding: 0 10px;
 }
 .last-page .container .fa-solid{
     font-size: 15px;
 }

 .last-page .container .sapm {
     font-size: 12px;
 }
   }